<button routerLink="/formulario">Crear cliente</button>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha Nacimiento</th>
        <th>CP</th>
        <th></th>
    </tr>
    <tr *ngFor="let cliente of clientes; let i = index" [ngClass]="{even: i%2 == 0, odd: i%2 == 1 }">
        <td>{{cliente.id}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.fecha_nacimiento | date:'dd/MM/yyyy'}}</td>
        <td>{{cliente.cp}}</td>
        <td>
            <button routerLink="/formulario">E</button>
            <button (click)="delete(cliente)">B</button>
        </td>
    </tr>
</table>