<form>
    <div>
        <label for="nombre">Nombre </label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="cliente.nombre">
    </div>
    <div>
        <label for="apellido">Apellido </label>
        <input type="text" id="apellido" name="apellido" placeholder="Apellido" [(ngModel)]="cliente.apellido">
    </div>
    <div>
        <label for="fecha_nacimiento">Fecha de nacimiento </label>
        <input type="text" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="dd/mm/yyyy" [ngModel]="cliente.fecha_nacimiento | date:'dd/MM/yyyy'">
    </div>
    <div>
        <label for="cp">Código postal </label>
        <input type="number" min="0" id="cp" name="cp" placeholder="Código postal" [(ngModel)]="cliente.cp">
    </div>
    <div>
        <input type="button" (click)="aceptar()" value="Guardar">
        <input type="button" routerLink="/listado" value="Volver">
    </div>
</form>