/* You can add global styles to this file, and also import other style files */
*
{
    font-family: sans-serif;
}

button {
    padding: 5px 8px;
    color: #fff;
    background-color: dimgrey;
    border: none;
    font-weight: bold;
    margin: 2px;
    cursor: pointer;
}